<html>

    <style>
        #barra{
            margin: 0;
            padding: 0;
            list-style: none;
            text-transform: uppercase;
        }

        #barra li{
            display: inline;
            margin: 0 20px;
        } 
    </style>

    <body>
        <ul id = "barra" style="text-align: center;">
            <li><a href="{% url 'inicio' %}">Home</a></li> 
            <li><a href="{% url 'instrucciones' %}">Instrucciones</a></li>
            <li><a href="{% url 'quiz' %}">QUIZ</a></li> 
            <li><a href="{% url 'contacto' %}">Contacto</a></li>  
        </ul>
    </body>

</html>