<html>

    <head>

        <title>

        {% block title %}
        
        {% endblock %}

        </title>

    </head>

        <h1 style = 'background-color:aquamarine; color:white; text-align: center;'>BIRQUIZ!</h1>

        {% include 'superior/barra.html' %}

        <h3 style="text-align: right;">Cursos de programación, ofimática y diseño web</h3>

        {% block content %}

        {% endblock%} 

        <p style = 'background-color:aquamarine; color:white; text-align: right;'>Página en construcción. Gracias por su visita.</p>

    <body>

    </body>
</html>