{% extends 'base.html' %}

{% block title %} BIRQUIZ! {% endblock %}

{% block content %}

<h1>Instrucciones</h1>
<p>Haz clic en "QUIZ" y configura el examen a tu gusto. Podrás elegir el número de preguntas de cada materia.</p>
<p>La aplicación escogerá preguntas al azar para asegurar que cada examen sea distinto.</p>
<p>Una vez comenzado el examen se mostrarán las preguntas de una en una. Después de seleccionar una respuesta haz clic en 
    siguiente para continuar a la siguiente. </p>
<p>Si quieres revisar y cambiar las respuestas de preguntas anteriores puedes hacer clic en anterior en cualquier momento.</p>   
<p>Una vez contestada la última pregunta se podrá finalizar el examen haciendo clic en finalizar.</p>
<p>Los resultados aparecerán automáticamente. Puntuación final, errores y aciertos y su desglose por asignatura...</p>


{% endblock %}